@model IEnumerable<StockManagementSystem.Core.DTO.ProductListVm>

@{
    ViewData["Title"] = "Product List";
}


<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-12">
            <div class="bg-secondary rounded h-100 p-4">
                <div class="row">
                    <div class="m-n2">
                        <a style="float:right;" href="@Url.Action("Create","Product", new { Area = ""})" class="btn btn-outline-success m-2">Create New</a>
                    </div>
                </div>

                <h6 class="mb-4">Category List</h6>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>

                                <th>
                                    @Html.DisplayNameFor(model => model.Category.CategoryName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Unit)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Price)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.IdealQuantity)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.IsActive)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Category.CategoryName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Unit)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Price)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.IdealQuantity)
                                    </td>
                                    <td>
                                        @{
                                            if (item.IsActive)
                                            {
                                                <span style="background: #1d6f49;" class="badge badge-pill badge-success">Active</span>
                                            }
                                            else
                                            {
                                                <span style="background: #a7343f;" class="badge badge-pill badge-primary">Inactive</span>
                                            }
                                        }
                                    </td>
                                    <td>
                                        <a asp-action="Update" class="btn btn-info" asp-route-id="@item.EncryptedtId"><i class="fa fa-pencil" aria-hidden="true"></i></a> |
                                        <button type="submit" class="btnDelete btn btn-warning" data-id="@item.EncryptedtId"><i class="fa fa-trash" aria-hidden="true"></i></button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<form id="deleteForm" asp-action="Delete">
    <input type="hidden" id="categoryId" Name="Id" />
</form>



@section Scripts{
    <script>

        $(function () {
            $('.table').DataTable();
            $('.btnDelete').click(function (e) {
                Swal.fire({
                    title: 'Are you sure?',
                    text: "You want to delete this record",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'

                }).then((result) => {
                    if (result.isConfirmed) {
                        var btn = $(this);
                        var id = btn.data("id");
                        $('#categoryId').val(id);
                        $('#deleteForm').submit();
                    }
                })
            })

        })
    </script>
}

<style>
    .dataTables_wrapper .dataTables_length select {
        background-color: #fefefe !important;
    }

    .dataTables_wrapper .dataTables_filter input {
        background-color: #fefefe !important;
    }
</style>


